[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/aave-v3-origin"]
	path = packages/contracts/lib/aave-v3-origin
	url = https://github.com/aave-dao/aave-v3-origin.git
